<div class="row">
    <h3>Ajouter une tache:</h3>
    <div class="col-md-6 mx-auto">
            <div class="form-group">
                <label for="label">ISBN:</label>
                <input [(ngModel)]="book.isbn" id="label" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="label">Name:</label>
                <input [(ngModel)]="book.name" id="label" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="label">Author:</label>
                <input [(ngModel)]="book.author" id="label" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="label">Category:</label>
                <input [(ngModel)]="book.category" id="label" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="label">Description:</label>
                <input [(ngModel)]="book.description" id="label" type="texarea" class="form-control">
            </div>

            <br/>
            <div>
            <button (click)="persistBook()" class="btn btn-success btn-block right"><i class="fa fa-send"></i>New Book</button>
            </div>
    </div>
</div>
