<div class="position-absolute top-50 start-50 translate-middle">
    <h3 class="text-center">Book Information </h3>
    <br/>
    <form >
      <dl class="row">
        <dt class="col-sm-3">ISBN: </dt>
        <dd class="col-sm-9">{{book.isbn}}</dd>
  
        <dt class="col-sm-3"> Name: </dt>
        <dd class="col-sm-9">{{book.name}}</dd>

        <dt class="col-sm-3 text-truncate"> Author:</dt>
        <dd class="col-sm-9">{{book.author}}</dd>

        <dt class="col-sm-3 text-truncate"> Category:</dt>
        <dd class="col-sm-9">{{book.category}}</dd>

        <dt class="col-sm-3">Description: </dt>
        <dd class="col-sm-9">{{book.description}}</dd>

      </dl>
    </form>
  
  </div>
